/.metadata
/.recommenders
/JColladaEx
/JCollada/.settings
/JCollada/target
/JCollada/.classpath
/JCollada/.project
/JColladaGen/.settings
/JColladaGen/target
/JColladaGen/.classpath
/JColladaGen/.project
